<div>
	<h1>Hello {{name}}</h1>
	<div>
		<p>You Admin</p>
		<button id = "addNewUser">Add new users</button>

	</div>

	<form id="adminForm">
	  <div>
	    <input type="text" name="first_name" placeholder="Enter name" required id="adminLogin" class="box">
	  </div>
	  <div>
	    <input type="password" name="password" placeholder="password" required id="adminPassword" class="box">
	  </div>

	  <button id="submit">Ok</button>
	</form>
	
	<button id="returnToMain">Return to LogIn</button>
	
</div>
